<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Sports Register</title>
  </head>

  <body>
    <h1>Sports Register</h1>
    <img src="https://www.goodsports.org/assets/equip.jp">

     Insert Your Form Below 
<form method= "POST" action = "/food"> 
<p>Your Name: <input type = "text" name = "name"></p>
<p>School: <input type = "text" type = "text" name = "school"></p>
<p>Grade: <input type = "number" grade= "grade"></p>
<p>What Sport: <input type = "text" name="what_sport"></p>
<input type = "submit">
</form>

 </body>
</html>
